<div class="header bg-gradient-principale pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class=" col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  boldFont mb-0">Voitures</h5>
                  <span class="h2 font-weight-bold text-muted mb-0">350</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                    <i class="fas fa-car"></i>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  boldFont mb-0"> Voyages</h5>
                  <span class="h2 font-weight-bold text-muted mb-0">2000</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning bg-dark text-white rounded-circle shadow">
                    <i class="fas fa-suitcase-rolling"></i>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  boldFont mb-0">Chauffeurs</h5>
                  <span class="h2 font-weight-bold mb-0 text-muted">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape   bg-dark text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  <div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
              <div class=" row align-items-center card-header border-0 m-0">
                <div class="col-8">
                  <h3 class="mb-0">Liste de chaffeurs</h3>
                </div>
                <div class="col-4 text-right">
                  <a (click)="open(content)" placement="bottom" ngbTooltip="Ajouter une voiture"  class=" btn btn-sm btn-success btn-add rounded-circle ">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  
                    <tr>
                      <th scope="col">Images</th>
                      <th scope="col">Matricule</th>
                      <th scope="col">Nom de chauffeur</th>
                      <th scope="col">Status</th>
                      <th scope="col">Marque</th>
                      <th scope="col">Date d'ajout</th>
                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let car of driversList; let i=index">
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" [src]="car.image ? car.image : './assets/img/images/louage.jpg'">
                          </a>
                          
                        </div>
                      </th>
                      <td>
                        {{car.matricule}}
                      </td>
                      <td>
                         {{car.chauffeur}}
                         </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i [ngClass]="{'bg-dange': car.status==='inactive' ,'bg-success': car.status==='active' , 'bg-warning': car.status==='en-panne' }"></i> {{car.status}}
                        </span>
                      </td>
                      <td>
                          <span class="badge badge-dot mr-4">
                            {{car.marque}}
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">
                           {{getDate(car.createdAt)}}
                          </span>
                        </td>
                     
                      <td class="text-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#" (click)="supprimerCar(car)">Supprimer</a>
                            <a class="dropdown-item" (click)="open(contentt , car)">Modifier</a>
                          </div>
                        </div>
                      </td>
                    </tr>
               
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
    
  </div>


  <!-- create car-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title  boldFont" id="modal-basic-title">Ajouter une nouvelle voiture</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="voitureForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Matricule</label>
              <input type="text"  formControlName="matricule"    class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.matricule.errors }" placeholder="Matricule">
              <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                <div *ngIf="f.matricule.errors.required">saisir le mot de passe</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Nom de chauffeur</label>
              <input type="text" placeholder="Nom de chauffeur" formControlName="chauffeur"    class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.chauffeur.errors }"  >
              <div *ngIf="submitted && f.chauffeur.errors" class="invalid-feedback">
                <div *ngIf="f.chauffeur.errors.required">saisir le nom de chauffeur</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Marque</label>
              <input type="text" class="form-control "  formControlName="marque"    class="form-control "  [ngClass]="{ 'is-invalid': submitted && f.marque.errors }"   placeholder="Marque">
              <div *ngIf="submitted && f.marque.errors" class="invalid-feedback">
                <div *ngIf="f.marque.errors.required">saisir la marque</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">status</label>
              <select  formControlName="status" class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.status.errors }" (change)="onChange($event.target.value)">
                <option value="active">active</option>
                <option  value="en-panne">en panne</option>
                <option  value="inactive">inactive</option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">status est obligatoire</div>
            </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Image</label>
              <div class="form-group">
                <input type="file" name="file" id="file"  (change)="onSelectFile($event)" class="form-control-file" >
                <img [src]="url" height="100" *ngIf="url" class="mt-3">
              </div>     
                
             </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark text-dark mx-2"(click)="modal.dismiss('Cross click')">Annuler</button>
          <button type="button" type="submit" class="btn btn-success " >Ajouter</button>
        </div>
      </form>
    </div>
  
  </ng-template>


  <!-- update car-->

  <ng-template #contentt let-modal>
    <div class="modal-header">
      <h3 class="modal-title  boldFont" id="modal-basic-title">Modifier la  voiture <span class="text-info">{{carUpdated.matricule}}</span> </h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="voitureForm" (ngSubmit)="onSubmitUpdated()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Matricule</label>
              <input type="text"  formControlName="matricule" [(ngModel)]="carUpdated.matricule"   class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.matricule.errors }" placeholder="Matricule">
              <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                <div *ngIf="f.matricule.errors.required">saisir le mot de passe</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Nom de chauffeur</label>
              <input type="text" placeholder="Nom de chauffeur"   [(ngModel)]="carUpdated.chauffeur" formControlName="chauffeur"    class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.chauffeur.errors }"  >
              <div *ngIf="submitted && f.chauffeur.errors" class="invalid-feedback">
                <div *ngIf="f.chauffeur.errors.required">saisir le nom de chauffeur</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Marque</label>
              <input type="text" class="form-control "   [(ngModel)]="carUpdated.marque" formControlName="marque"    class="form-control "  [ngClass]="{ 'is-invalid': submitted && f.marque.errors }"   placeholder="Marque">
              <div *ngIf="submitted && f.marque.errors" class="invalid-feedback">
                <div *ngIf="f.marque.errors.required">saisir la marque</div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">status</label>
              <select  formControlName="status" class="form-control "   [ngClass]="{ 'is-invalid': submitted && f.status.errors }" (change)="onChange($event.target.value)">
                <option [value]="carUpdated.status">{{carUpdated.status}}</option>
                <option value="active"*ngIf="carUpdated.status!='active'" >active</option>
                <option  value="en-panne"*ngIf="carUpdated.status!='en-panne'" >en panne</option>
                <option  value="inactive" *ngIf="carUpdated.status!='inactive'">inactive</option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">status est obligatoire</div>
            </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Image</label>
              <div class="form-group">
                <input type="file" name="file" id="file"  (change)="onSelectFile($event)" class="form-control-file" >
                <img [src]="carUpdated.image?carUpdated.image: './assets/img/images/louage.jpg'" height="100"  class="mt-3">
                
              </div>     
                
             </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark text-dark mx-2"(click)="modal.dismiss('Cross click')">Annuler</button>
          <button type="button" type="submit" class="btn btn-info " >Modifier</button>
        </div>
      </form>
    </div>
  
  </ng-template>
  
  
  
